* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.grey-ball {
    background-color: grey;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin: auto;
    position: relative;
    top: 10em;
    display: none;    
    background: radial-gradient(circle at 80px 60px, rgb(243, 243, 243), rgb(47, 47, 47));
    animation-name: bounce;
    animation-duration: 1s;
}
.blue-ball {
    background-color: rgb(48, 101, 216);
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin: auto;
    position: relative;
    top: 10em;
    display: none;
    background: radial-gradient(circle at 80px 60px, rgb(202, 214, 236), rgb(11, 60, 166));
    animation-name: bounce;
    animation-duration: 1s;
}
.green-ball {
    background-color: rgb(13, 142, 9);
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin: auto;
    position: relative;
    top: 10em;
    display: none;
    background: radial-gradient(circle at 80px 60px, rgb(182, 233, 191), rgb(8, 77, 20));
    animation-name: bounce;
    animation-duration: 1s;
}
.purple-ball {
    background-color: rgb(100, 25, 123);
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin: auto;
    position: relative;
    top: 10em;
    display: none;
    background: radial-gradient(circle at 80px 60px, rgb(159, 127, 213), rgb(38, 6, 70));
    animation-name: bounce;
    animation-duration: 1s;
}
.gold-ball {
    background-color: rgb(216, 156, 26);
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin: auto;
    position: relative;
    top: 10em;
    display: none;
    background: radial-gradient(circle at 80px 60px, rgb(240, 233, 216), rgb(204, 155, 6));
    animation-name: bounce;
    animation-duration: 1s;
}

.grey-ball:target, .blue-ball:target, .green-ball:target, .purple-ball:target, .gold-ball:target {
    display: block;
}

@keyframes bounce {
    from {top: 4em;}
    to {top: 10em;}
}


.shadow {
    display: none;
    filter: blur(15px);
    top: 30em;
    left: 41em;
    position: absolute;
    margin: auto;
    height: 3em;
    width: 14em;
    background-color: rgb(107, 107, 107);
    border-radius: 50%;
    animation-name: shadow-an;
    animation-duration: 1s;
}

@keyframes shadow-an {
    from {transform: scaleX(160%);  transform: scaleY(110%); filter: blur(20px); background-color: rgb(139, 139, 139);}
    to {transform: scaleX(100%);  transform: scaleY(100%); filter: blur(15px); background-color: rgb(107, 107, 107);}
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    top: 42em;
    margin: auto;
    position: absolute;
    background-color: rgb(84, 84, 84);
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
    padding: 1em;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(1.2);
}

button:active {
    background-color: rgb(219, 50, 50);
}

.counters {
    display: inline-block;
    position: relative;
    display: block;
    /* top: 10em; */
    font-size: 1.5em;
    padding: 0px 5px;
}

.counter-container {
    position: absolute;
    top: 37em;
    display: flex;
    flex-direction: row;
    gap: 1.8em;

}

.grey-ball-s {
    background-color: grey;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: auto;
    position: relative;
    top: 10em;
    display: block;    
    background: radial-gradient(circle at 80px 60px, rgb(243, 243, 243), rgb(47, 47, 47));
}
.blue-ball-s {
    background-color: rgb(48, 101, 216);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: auto;
    position: relative;
    top: 10em;
    display: block;
    background: radial-gradient(circle at 80px 60px, rgb(202, 214, 236), rgb(11, 60, 166));
}
.green-ball-s {
    background-color: rgb(13, 142, 9);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: auto;
    position: relative;
    top: 10em;
    display: block;
    background: radial-gradient(circle at 80px 60px, rgb(182, 233, 191), rgb(8, 77, 20));
}
.purple-ball-s {
    background-color: rgb(100, 25, 123);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: auto;
    position: relative;
    top: 10em;
    display: block;
    background: radial-gradient(circle at 80px 60px, rgb(159, 127, 213), rgb(38, 6, 70));
}
.gold-ball-s {
    background-color: rgb(216, 156, 26);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: auto;
    position: relative;
    top: 10em;
    display: block;
    background: radial-gradient(circle at 80px 60px, rgb(240, 233, 216), rgb(204, 155, 6));
}

.s-ball-container {
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: row-reverse; 
    gap: 1em;
}